@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* Общие стили */

body {
  font-family: "Roboto", sans-serif;
  background-color: #1c1c1c;
  color: #fff;
  margin: 0;
}
.container {
  max-width: 1169px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  margin: 0;
}

/* Header */

.header {
  font-size: 14px;
  padding: 25px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  transition: 0.3s;
}
.header-link {
  opacity: 0.7;
}
.header-link-active {
  color: #fff;
  text-decoration: none;
}
.header-link:hover {
  color: #fff;
  text-decoration: none;
  opacity: 1;
}

.header-list {
  display: flex;
  gap: 28px;
}
.order-btn {
  padding: 9px;
  background-color: #f6762c;
  border: none;
  width: 165px;
  height: 49px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s;
}
.header-btn:hover {
  opacity: 0.8;
}

/* Welcome */

.welcome {
  box-sizing: border-box;
  min-height: 100vh;

  padding-top: 350px;
  padding-bottom: 240px;

  margin-top: -100px;

  background-image: url("./assets/image/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.welcome-info {
  width: 555px;
}
.welcome-subtitle {
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-bottom: 7px;
}
.welcome-title {
  font-size: 58px;
}
.welcome-desc {
  margin: 40px 0;
  font-size: 18px;
  opacity: 0.7;
}

/* food list */

.food-list {
  padding: 100px 0;
}
.food-list img {
  width: 100%;
}
.food-list .container {
  display: flex;
  justify-items: space-between;
  flex-wrap: wrap;
  gap: 31px;
}
.food-list-card {
  width: 262px;
  background-color: #312f30;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.food-list-info {
  padding: 30px 20px;
}
.food-list-card .food-list-title {
  font-size: 20px;
}
.food-list-card .food-list-desc {
  font-size: 16px;
  opacity: 0.7;
  padding-top: 13px;
}

/* order section */
.order {
  background: #312f30;
  padding: 80px 0;
}

.order .container {
  display: flex;
  justify-content: space-between;
}

.order img {
  width: 549px;
  height: 499px;
}

.order-info {
  padding-top: 130px;
  padding-right: 65px;
  width: 371px;
}

.order h2 {
  font-size: 3rem;
  margin-bottom: 25px;
}

.order p {
  margin-bottom: 20px;
  opacity: 0.7;
  font-size: 1rem;
}

.order span {
  margin-right: 8px;
}

.primary {
  color: #f6762c;
  font-size: 1.3rem;
}

.secondary {
  color: #f6762c;
  opacity: 0.5;
  text-decoration-line: line-through;
}

.order button {
  margin-top: 15px;
  display: block;
}

/* product section */

.product {
  padding: 130px 0;
}

.product .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-card {
  width: 565px;
  height: 300px;
  margin-bottom: 35px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.product-card:nth-child(odd) {
  padding: 65px 20px 20px 290px;
}

.product-card:nth-child(even) {
  padding: 65px 290px 20px 40px;
}

.Dairy-Queen {
  background-image: url("./assets/image/product-1.jpg");
}
.Pizza-Hut {
  background-image: url("./assets/image/product-2.jpg");
}
.Burger-King {
  background-image: url("./assets/image/product-3.jpg");
}
.Papa-John {
  background-image: url("./assets/image/product-4.jpg");
}

.product-card h1 {
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.product-card p {
  margin-bottom: 12px;
}

.product-card span {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #f6762c;
  margin-right: 10px;
  font-weight: 600;
}
.line-through {
  text-decoration-line: line-through;
  opacity: 0.5;
}
.product button {
  display: block;
  margin-top: 12px;
}

/* feedback section */

.feedback {
  padding: 0 0 150px 0;
}

.feedback .container {
  display: flex;
  justify-content: space-between;
}

.feedback-img img {
  padding-left: 200px;
  width: 346px;
  height: 346px;
}

.feedback-info {
  text-align: center;
  padding-top: 100px;
  padding-right: 120px;
  width: 368px;
}

.feedback-info img {
  width: 46px;
  height: 46px;
  margin-bottom: 40px;
}

.feedback-info p {
  opacity: 0.7;
  margin-bottom: 20px;
}
.feedback-info .name {
  font-size: 0.8rem;
}

/* download menu */

.download-menu {
  background-color: #312f30;
  padding: 50px;
}

.download-menu .container {
  display: flex;
  justify-content: space-between;
  max-width: 980px;
}

.download-menu h1 {
  font-size: 2.3rem;
  display: flex;
  align-items: center;
}

.download-menu button {
  font-weight: 600;
}

/* FOOTER */

.footer {
  background-color: #1c1c1c;
  padding: 110px 0;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer h2 {
  font-size: 1.2rem;
}
/* footer-contacts */
.footer-contacts a {
  opacity: 0.8;
  font-size: 0.8rem;
}
.footer-contacts a:hover {
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s;
}
.footer-logo {
  width: 80px;
  height: 80px;
}
.footer-mail .footer-global {
  display: flex;
}
.footer-mail {
  margin-top: 30px;
  margin-bottom: 10px;
}
/* footer-nav */
.footer-nav a {
  display: block;
  opacity: 0.8;
  margin: 12px 0;
  font-size: 0.8rem;
}
.footer-nav a:hover {
  color: #fff;
  opacity: 1;
  transition: all 0.3s;
}
.footer .footer-nav {
  display: flex;
  gap: 100px;
}
/* footer-socials */
.footer .link-items {
  display: flex;
  gap: 10px;
}
.link-items img {
  width: 18px;
  height: 18px;
}
.footer-socials h2 {
  margin-bottom: 10px;
}
